* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  width: calc(100vw-94px);
  display: flex;
  flex-direction: column;
  margin: 0 47px;
}
.header {
  background-color: rgba(0, 0, 0, 0.789);
  height: 72px;
  margin: 20px 0;
  padding: 16px 24px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.back {
  width: 100%;
  height: 808px;
  border-radius: 20px;
  display: flex;
  padding: 144px;
  justify-content: space-between;
  animation: fadeSwitch 5s infinite;
  transition: opacity 1.5s ease-in-out;
}
@keyframes fadeSwitch {
  0%,
  50% {
    opacity: 1;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("./background.webp");
    background-size: cover;
    background-position: center;
  }
  50.01%,
  100% {
    opacity: 1;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("./Banner_2_34fc172be4.webp");
    background-size: cover;
    background-position: center;
  }
}

.section {
  height: 666px;
  width: calc(100vw-97px);
  margin: 0 47px;
  background-color: rgba(0, 0, 0, 0.789);
  margin-top: 24px;
  border-radius: 20px;
}
.special {
  position: relative;
}
.cards {
  width: 100vw;
  max-height: 637px;
  height: 100%;
  padding: 64px;
  position: absolute;
  margin-top: -350px;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  overflow: scroll;
}
.card {
  max-width: 349px;
  max-height: 509px;
  width: 100%;
  height: 100%;
  background-color: pink;
}

.logo {
  width: 64px;
  height: 34px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
}
.icon-search {
  display: flex;
  align-items: center;
  background-color: rgba(61 61 61);
  margin-left: 35px;
  border-radius: 15px;
  width: 221px;
  height: auto;
  padding: 4px 20px;
  gap: 8px;
}
.search {
  display: flex;
}
.search input {
  background-color: transparent;
  border: none;
}
.news {
  display: flex;
  width: 400px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.news div {
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}
.news div:hover {
  background-color: rgba(61 61 61);
  border-radius: 10px;
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-icon svg,
.header-icon img {
  width: 40px;
  height: 40px;
  fill: white;
  padding: 8px;
  background-color: rgba(61 61 61);
  border-radius: 10px;
  cursor: pointer;
}
.simple p {
  color: rgb(246, 249, 251);
  font-size: 55px;
}
.simple {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.service-section {
  max-width: 522px;
  max-height: 520px;
  width: 100%;
  height: 100%;
  padding: 12px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.077);
  border-radius: 20px;
}
.easy {
  max-width: 498px;
  width: 100%;
  height: 52px;
  background-color: rgba(61 61 61);
  border-radius: 20px;
  border: 8px rgb(222, 220, 220) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.row {
  display: flex;
  gap: 5px;
}
.table-item {
  min-height: 128px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(222, 220, 220);
  border-radius: 20px;
  margin-top: 12px;
}
.table-item:hover {
  background-color: white;
  border-radius: 20px;
}
.suggest {
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-weight: 900;
  color: white;
}
.progress p {
  font-size: 16px;
}
.progress svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.progress {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.shadow {
  border-radius: 50%;
  background-color: #fef2f2;
  box-shadow: inset 0 0 4px 0 #f87171;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 5px;
}
.arrow svg {
  width: 12px;
  height: 12px;
  opacity: 0;
}
.table-item:hover .shadow {
  background-color: white;
  box-shadow: inset 0 0 10px 0 #f87171;
  width: 66px;
  height: 66px;
}
.table-item:hover .arrow svg {
  opacity: 1;
}
.table-item:hover .arrow {
  transform: translateX(-7px);
  gap: 10px;
}
.arrow {
  transition: 0.5s;
}
.tab {
  display: flex;
  max-width: 644px;
  height: 58px;
  width: 100%;
  justify-self: center;
  background-color: #3d3d3d;
  border-radius: 20px;
  margin-top: 68px;
  padding: 8px;
  gap: 2px;
}
.other {
  font-size: 16px;
  font-weight: 600;
  color: #a3a3a3;
  border-radius: 10px;
}
.all {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}
.tab div {
  width: 100%;
  padding: 2px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all:hover,
.other:hover {
  background-color: rgba(0, 0, 0, 0.634);
  color: white;
}
